<!DOCTYPE html>
<html>
  <head>
    <title>PickleApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css2?family=Paytone+One&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d25f0dcce7.js" crossorigin="anonymous"></script>
    <script type="text/javascript">window.phoneUrl = "<%= image_url('home-phones.png') %>";</script>
    <script type="text/javascript">window.pickle1 = "<%= image_url('pickle-1.png') %>";</script>
    <script type="text/javascript">window.pickle2 = "<%= image_url('pickle-2.png') %>";</script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
