<!DOCTYPE html>
<html>
  <head>
    <title>Pickle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css2?family=Gaegu:wght@700&display=swap" rel="stylesheet">
    <%= favicon_link_tag asset_path('favicon.png') %>
    <script src="https://kit.fontawesome.com/d25f0dcce7.js" crossorigin="anonymous"></script>
    <script type="text/javascript">window.phoneUrl = "<%= image_url('home-phones.png') %>";</script>
    <script type="text/javascript">window.pickle1 = "<%= image_url('pickle-1.png') %>";</script>
    <script type="text/javascript">window.pickle2 = "<%= image_url('pickle-2.png') %>";</script>
    <script type="text/javascript">window.hosting = "<%= image_url('hosting.png') %>";</script>
    <script type="text/javascript">window.hostingGrey = "<%= image_url('hosting-grey.png') %>";</script>
    <script type="text/javascript">window.paw = "<%= image_url('paw-icon.png') %>";</script>
    <script type="text/javascript">window.pawGrey = "<%= image_url('paw-grey.png') %>";</script>
    <script type="text/javascript">window.map = "<%= image_url('map.png') %>";</script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
